
#nav-bar {

  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  top: 0;
  padding: 0em 2em;

}


#nav-bar .logo {

  line-height: 1.0;
  vertical-align: middle;
  height: 80px;
  width: 80px;
  padding-right: 10px;

}

#nav-bar .header {
  font-size: 2em;
}


#nav-bar .button {
  position: relative;
  float: right;
  margin-right: 0px;
  margin-top: 26px;
  background: turquoise;
}

#nav-bar .button:hover {
  position: relative;
  float: right;
  margin-right: 0px;
  margin-top: 26px;
  background: white;
}
